<app-frag-layout>
  <div headerInfo>
  </div>
  <section class="i2-body">
    <div class="i2-login-form">
      <form class="i2-sign-in-form">
        <mat-form-field class="i2-full-width">
          <mat-label>Email</mat-label>
          <input matInput
                 placeholder="Email Address"
                 type="email"
                 [formControl]="emailControl"
                 required
          />
          @if (emailControl.hasError('email') && !emailControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="i2-full-width">
          <mat-label>Password</mat-label>
          <input matInput
                 [type]="hidePswd ? 'password' : 'text'"
                 placeholder="Password"
                 [formControl]="passwordControl"
                 required
          />
          <mat-icon matSuffix (click)="hidePswd = !hidePswd">
            {{hidePswd ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          @if (passwordControl.hasError('minlength') && !passwordControl.hasError('required')) {
            <mat-error>Password must be at least {{minLenForPassword}} characters</mat-error>
          }
          @if (passwordControl.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <div class="i2-full-width i2-login-extra">
          <mat-slide-toggle
            color="primary"
            [checked]="keepMeSignedIn"
          >Keep me signed in</mat-slide-toggle>
          <a mat-button (click)="forgotPassword()">Forgot Password?</a>
        </div>
        <div class="i2-login-action">
          <button mat-flat-button color="warn"
                  [disabled]="emailControl.status === 'INVALID' || passwordControl.status === 'INVALID'"
                  (click)="signIn()"
          >Sign In</button>
        </div>
      </form>
    </div>
    <div class="i2-new-user">
      <span>New User? </span>
      <a routerLink="/join-us">Sign up here</a>
    </div>
  </section>
</app-frag-layout>
