<app-frag-layout>
  <app-frag-guest-header headerInfo
                         from="howItWorks"
  ></app-frag-guest-header>
  <section class="i2-body">
    <div class="i2-title">
      How it works
    </div>
    <div class="i2-paragraph">
      <p class="i2-p">
        Lorem ipsum dolor sit amet consectetur. Est tortor ut sit nibh. In pellentesque lorem augue commodo. Amet egestas erat augue nisl volutpat tortor dignissim. Eu nunc purus id consequat viverra dictum.
      </p>
      <p class="i2-p">
        Lorem ipsum dolor sit amet consectetur. Est tortor ut sit nibh. In pellentesque lorem augue commodo. Amet egestas erat augue nisl volutpat tortor dignissim. Eu nunc purus id consequat viverra dictum.
      </p>
      <p class="i2-p">
        Lorem ipsum dolor sit amet consectetur. Est tortor ut sit nibh. In pellentesque lorem augue commodo. Amet egestas erat augue nisl volutpat tortor dignissim. Eu nunc purus id consequat viverra dictum.
      </p>
    </div>

    <div class="i2-paragraph2">
      <div class="i2-hiw-video">
        <div>Video</div>
        <img class="i2-img" src="assets/resources/img/how-it-works-video.svg" />
      </div>
      <div class="i2-hiw-cites">
        <div class="i2-hiw-cite">
          <div class="i2-cite-text">
            I finally got a chance to invest in the Toronto real estate market with the help of Property Investors. I’m on the first step of the property ladder.
          </div>
          <div class="i2-cite-author">
            Harry Potter, Toronto
          </div>
        </div>
        <div class="i2-hiw-cite">
          <div class="i2-cite-text">
            Lorem ipsum dolor sit amet consectetur. Est tortor ut sit nibh. In pellentesque lorem augue commodo. Amet egestas erat augue nisl volutpat tortor dignissim. Eu nunc purus id consequat viverra dictum.
          </div>
          <div class="i2-cite-author">
            Voldemort, UK
          </div>
        </div>
      </div>
    </div>
  </section>
</app-frag-layout>
