<div class="i2-signup">
  <mat-card class="i2-signup-card">
    <mat-card-header class="i2-center">
      <mat-card-title class="i2-center">Profile Detail</mat-card-title>
      <mat-card-subtitle class="i2-center">Property Investment</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="i2-signup-content">
      <form class="i2-signup-form" [formGroup]="signupForm">
        <div class="i2-choice-container i2-full-width">
          <div>
            Address Information
          </div>
          <div>
            <mat-checkbox formControlName="choiceToProvideAddressLater" (change)="handleTellAddressLaterChange($event)">
              Prefer to tell later
            </mat-checkbox>
          </div>
        </div>
        <section class="i2-address" formGroupName="address" #addressRef>
          @if (addressForm.controls['line1'].dirty && addressForm.controls['line1'].invalid) {
            @if (addressForm.controls['line1'].hasError('required')) {
              <mat-error>Required.</mat-error>
            } @else {
              <mat-error>Less than {{maxLenForAddressLine1}} characters.</mat-error>
            }
          }
          <mat-form-field class="i2-full-width">
            <mat-label>Address Line 1</mat-label>
            <input type="text" matInput formControlName="line1" />
          </mat-form-field>
          @if (addressForm.controls['line2'].dirty && addressForm.controls['line2'].invalid) {
            <mat-error>Less than {{maxLenForAddressLine2}} characters.</mat-error>
          }
          <mat-form-field class="i2-full-width">
            <mat-label>Address Line 2</mat-label>
            <input type="text" matInput formControlName="line2" />
          </mat-form-field>
          <div class="i2-full-width i2-city-province-zip">
            <div>
              @if (addressForm.controls['city'].dirty && addressForm.controls['city'].invalid) {
                @if (addressForm.controls['city'].hasError('required')) {
                  <mat-error>Required.</mat-error>
                } @else {
                  <mat-error>Less than {{maxLenForCity}} characters.</mat-error>
                }
              }
              <mat-form-field class="i2-full-width">
                <mat-label>City</mat-label>
                <input type="text" matInput formControlName="city" />
              </mat-form-field>
            </div>
            <div>
              @if (addressForm.controls['province'].dirty && addressForm.controls['province'].invalid) {
                @if (addressForm.controls['province'].hasError('required')) {
                  <mat-error>Required.</mat-error>
                } @else {
                  <mat-error>Less than {{maxLenForProvince}} characters.</mat-error>
                }
              }
              <mat-form-field class="i2-full-width">
                <mat-label>Province</mat-label>
                <mat-select formControlName="province">
                  @for (p of canadaProvinces; track p) {
                    <mat-option [value]="p.code">{{p.viewValue}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              @if (addressForm.controls['postalCode'].dirty && addressForm.controls['postalCode'].invalid) {
                @if (addressForm.controls['postalCode'].hasError('required')) {
                  <mat-error>Required.</mat-error>
                } @else {
                  <mat-error>E.g. M3K 2L5</mat-error>
                }
              }
              <mat-form-field class="i2-full-width">
                <mat-label>Postal Code</mat-label>
                <input type="text" matInput formControlName="postalCode" (blur)="handlePostalCodeFormat()"/>
              </mat-form-field>
            </div>
          </div>
        </section>

        <div class="i2-choice-container i2-full-width">
          <div>
            Available Budget
          </div>
          <div>
            <mat-checkbox formControlName="choiceToProvideBudgetLater" (change)="handleTellBudgetLaterChange($event)">
              Prefer to tell later
            </mat-checkbox>
          </div>
        </div>
        <section class="i2-budget" formGroupName="budget" #budgetRef>
          <div>
            <mat-radio-group formControlName="budgetRange">
              @if (budgetForm.controls['budgetRange'].touched && budgetForm.controls['budgetRange'].invalid) {
                <mat-error>Required.</mat-error>
              }
              <div class="i2-half-half">
                <mat-radio-button class="i2-budget-choice" value="btw30and50k">30 - 50K</mat-radio-button>
                <mat-radio-button class="i2-budget-choice" value="btw150and200k">150 - 200K</mat-radio-button>
              </div>
              <div class="i2-half-half">
                <mat-radio-button class="i2-budget-choice" value="btw50and100k">50 - 100K</mat-radio-button>
                <mat-radio-button class="i2-budget-choice" value="moreThan200k">200k+</mat-radio-button>
              </div>
              <div class="i2-half-half">
                <mat-radio-button class="i2-budget-choice" value="btw100and150k">100 - 150K</mat-radio-button>
                <div>&nbsp;</div>
              </div>
            </mat-radio-group>
          </div>
        </section>
      </form>
    </mat-card-content>
    <mat-card-actions class="i2-actions">
      <button mat-flat-button color="primary"
              [disabled]="!isValidForSignup()"
              (click)="tryToSignup()"
      >Submit</button>
      <button mat-flat-button color="warn" (click)="resetSignupForm()">Reset</button>
      <button mat-stroked-button (click)="goBackToLogin()">Exit</button>
    </mat-card-actions>
  </mat-card>
</div>
