.i2-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  row-gap: 50px;
}

.i2-join-us-header {
  padding-right: 100px;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  /*font-weight: bold;*/
}

.i2-join-us-form {
  width: 500px;
  border: 0.75px solid #D3D3D3;
  background: #D9D9D905;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 30px;
}

.i2-full-width {
  padding-top: 20px;
  width: 100%;
}

.i2-join-us-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.i2-new-user a {
  color: #0d87ab;
  text-decoration: underline;
}
