<app-frag-layout>
  <app-frag-guest-header headerInfo
  ></app-frag-guest-header>
  <section>
    <div class="i2-home-pic">
      <img class="i2-img" src="assets/resources/img/home-pic.svg" />
    </div>
    <div class="i2-home-features">
      <p class="i2-home-feature">
        Start your real estate investment journey with as little as $30,000
      </p>
    </div>
    <div class="i2-home-actions">
      <button mat-flat-button color="primary"
              (click)="tellMeMore()"
      >Tell me more!</button>
    </div>
  </section>
</app-frag-layout>
